ClientRef/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://iterator" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EX.Model.Repository" />
  <xs:element name="GetAllVisitors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllVisitorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://iterator" minOccurs="0" name="GetAllVisitorsResult" nillable="true" type="q1:ArrayOfVisitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWithMess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="m" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWithMessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EX.Model.Repository" minOccurs="0" name="GetAllWithMessResult" nillable="true" type="q2:VisitorsWithMess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVisitorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://iterator" minOccurs="0" name="GetVisitorResult" nillable="true" type="q3:Visitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://iterator" minOccurs="0" name="visitor" nillable="true" type="q4:Visitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVisitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://iterator" minOccurs="0" name="visitor" nillable="true" type="q5:Visitor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVisitorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVisistorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveVisistorByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>