ClientRef/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VisitorContract" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IVisitorContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://iterator" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/EX.Model.Repository" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVisitorContract_GetAllVisitors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitors" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllVisitors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllVisitorsResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllWithMess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithMess" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetAllWithMess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllWithMessResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetVisitor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitor" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_GetVisitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVisitorResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddOrUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdate" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_AddOrUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisitor_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisitor" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisitor_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisitorResponse" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisistorById_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisistorById" />
  </wsdl:message>
  <wsdl:message name="IVisitorContract_RemoveVisistorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveVisistorByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IVisitorContract">
    <wsdl:operation name="GetAllVisitors">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetAllVisitors" message="tns:IVisitorContract_GetAllVisitors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetAllVisitorsResponse" message="tns:IVisitorContract_GetAllVisitors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWithMess">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetAllWithMess" message="tns:IVisitorContract_GetAllWithMess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetAllWithMessResponse" message="tns:IVisitorContract_GetAllWithMess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVisitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/GetVisitor" message="tns:IVisitorContract_GetVisitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/GetVisitorResponse" message="tns:IVisitorContract_GetVisitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/AddOrUpdate" message="tns:IVisitorContract_AddOrUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/AddOrUpdateResponse" message="tns:IVisitorContract_AddOrUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVisitor">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisitor" message="tns:IVisitorContract_RemoveVisitor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisitorResponse" message="tns:IVisitorContract_RemoveVisitor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveVisistorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisistorById" message="tns:IVisitorContract_RemoveVisistorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVisitorContract/RemoveVisistorByIdResponse" message="tns:IVisitorContract_RemoveVisistorById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IVisitorContract" type="tns:IVisitorContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IVisitorContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllVisitors">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetAllVisitors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWithMess">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetAllWithMess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVisitor">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/GetVisitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrUpdate">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/AddOrUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVisitor">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/RemoveVisitor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveVisistorById">
      <soap12:operation soapAction="http://tempuri.org/IVisitorContract/RemoveVisistorById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VisitorContract">
    <wsdl:port name="NetTcpBinding_IVisitorContract" binding="tns:NetTcpBinding_IVisitorContract">
      <soap12:address location="net.tcp://192.168.0.27:3121/Visitor" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.0.27:3121/Visitor</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>