ClassLibrary1/Connected Services/ServiceReference1/iterator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://iterator" elementFormDefault="qualified" targetNamespace="http://iterator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVisitor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visitor" nillable="true" type="tns:Visitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitor" nillable="true" type="tns:ArrayOfVisitor" />
  <xs:complexType name="Visitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Collumn1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Collumn9" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visitor" nillable="true" type="tns:Visitor" />
</xs:schema>