EX.Client/Connected Services/ServiceReference1/EX.Model.Repository.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EX.Model.Repository" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EX.Model.Repository" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://iterator" />
  <xs:complexType name="VisitorsWithMess">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://iterator" minOccurs="0" name="visitors" nillable="true" type="q1:ArrayOfVisitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitorsWithMess" nillable="true" type="tns:VisitorsWithMess" />
</xs:schema>